<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/ce77f47a4c.js" crossorigin="anonymous"></script>

</head>

<div class="d1">
  <h1 style="color: white;">weather</h1>

</div>

<body>



  <!-- 
  <nav class="navbar navbar-expand-lg bg-light border">
    <div class="container-fluid">
      <a class="navbar-brand">Weather</a>
</div>
</nav> -->

<form>


  <div class="container "  (submit)="onSubmit()" >


    <div class="upper-data">
      <img src="./assets/day.jpg" alt="" *ngIf="temp.main.temp >25">
      <img src="../assets/istockphoto-899283338-612x612.jpg" alt="" *ngIf="temp.main.temp <= 25">

      <div class="weather-data">

        <div class="search">
          <input type="text" class="form-control" name="location" [(ngModel)]="loc">
          <button type="button" class="btn btn-light" (click)="getWeatherData()">
            <i class="fa-2x fa-solid fa-magnifying-glass"></i>
          </button>


          <h3 style="text-align: left; color: white; font-size: 2em;">{{cityName}}</h3>
        </div>

        <br><br>
        <div class="location">{{mainName}}

        </div>
        <div class="temperature">
          {{temperature |number : '1.0-0'}}°C
        </div>
      </div>

    </div>

    <div class="lower-data">


      <div class="more-info">
        More Information
      </div>



      <div class="more-info-details">


        <div class="info-block">

          <div class="info-label">

            <img src="../assets/blue.png" alt="">
            <span>Min</span>

          </div>

          <div class="info-value">
            {{tempMin}}°C
          </div>

        </div>

        <div class="info-block">

          <div class="info-label">

            <img src="../assets/maxt.jpg" alt="">
            <span>Max</span>

          </div>

          <div class="info-value">
            {{tempMax}}°C
          </div>

        </div>

        <div class="info-block">

          <div class="info-label">

            <img src="../assets/download.png" alt="">
            <span>Humidity</span>

          </div>

          <div class="info-value">
            {{humidity}}%
          </div>

        </div>

        <div class="info-block">

          <div class="info-label">

            <img src="../assets/286-2868629_windy-icon-wind-weather-icons-png.png" alt="">
            <span>Wind </span>

          </div>

          <div class="info-value">
            {{wind}} km/h
          </div>

        </div>



      </div>
    </div>

  </div>

</form>
</body>

</html>